{% extends "base.html" %}

{% load bootstrap %}

{% load avatar_tags %}

{% load staticfiles %}

{% load i18n %}

{% block title %}
    {% trans 'Profile' %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datepicker.min.css' %}">
{% endblock %}


{% block content %}
<div class="content">
    <h1>Edit profile</h1>
    <div class="row">
        <!-- <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3"> -->
        <div class="col-md-6 col-sm-6 col-xs-12">

            <div class="small-card small-card-body">

                <form action='.' method='POST'>
                    {{ user_form|bootstrap }}
                    {{ profile_form|bootstrap }}
                    <!--{{ user_form.first_name }}
                    {{ user_form.first_name.errors }}

                    {{ user_form.last_name }}
                    {{ user_form.last_name.errors }}

                    {{ user_form.email }}
                    {{ user_form.email.errors }}

                    {{ profile_form.date_of_birth }}
                    {{ profile_form.date_of_birth.errors }} -->
                    {% csrf_token %}
                    <p><button type='submit' class="btn btn-primary btn-hg btn-block">{% trans 'Save' %}</button></p>
                </form>

                <!-- {% if request.user|has_avatar %}
                {% avatar user 65 %}
                {% else %}
                <img src="{% static 'img/default_avatar.png' %}" width="65px">
                {% endif %}
                <a href="{% url 'avatar_change' %}">Change your avatar</a> -->

            </div>

        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="small-card small-card-body">
                <p class="text-center"><strong>{% trans 'Your current avatar' %}</strong></p>
                <div class="flex-center zoomInUp animated">{% avatar user %}</div>

                <form enctype="multipart/form-data" method="POST" action="{% url 'add_update_avatar' %}">
                    <!-- {{ upload_avatar_form.as_p }} -->
                    <div class="flex-center">
                    <span class="btn btn-success fileinput-button">
                    <span>{% trans 'Add new avatar' %}</span>
                    {{ upload_avatar_form.avatar }}
                    </span>
                    </div>
                    {% csrf_token %}<input type="submit" class="btn btn-primary btn-hg btn-block" value="{% trans 'Update avatar' %}" />
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
<script type="text/javascript">
    $('#id_date_of_birth').datepicker({
        format: 'mm/dd/yyyy'
    })
</script>
{% endblock %}