{% extends "base.html" %}

{% load bootstrap %}

{% load i18n %}

{% block title %}
    {% trans 'Signup' %}
{% endblock %}

{% block content %}

<div class="content">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 user-form">

                <h1 class="text-center">{% trans 'Student registration' %}</h1>
                <form action="." class="register-form" method="POST">
                    <!-- {{ form.username }}
                    {{ form.email }}
                    {{ form.password1 }}
                    {{ form.password2 }} -->
                    {{ form|bootstrap }}
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}" />
                    <input type="submit" class="btn btn-primary btn-hg btn-block" value="{% trans 'Register' %}" />
                </form>

                <hr class="login-hr">

                <div class="social-auth">
                    <a class="btn btn-hg fb-bg"
                       href="{% url 'social:begin' 'facebook' %}">
                            <i class="fa fa-facebook" aria-hidden="true"></i> FB
                    </a>
                    <a class="btn btn-hg g-bg"
                       href="{% url 'social:begin' 'google-oauth2' %}">
                            <i class="fa fa-google" aria-hidden="true"></i> Google
                    </a>
                    <a class="btn btn-hg vk-bg"
                       href="{% url 'social:begin' 'vk-oauth2' %}">
                            <i class="fa fa-vk" aria-hidden="true"></i> VK
                    </a>
                </div>

                <br>
                <p class="text-center">
                    {% trans 'Have account?' %}
                    <a href="{% url 'login' %}">
                        {% trans 'Log in now' %}
                    </a>
                </p>
        </div>
    </div>
</div>

{% endblock %}