{% extends "base.html" %}

{% load staticfiles %}

{% load bootstrap %}

{% load user_tags %}

{% load i18n %}

{% block content %}
<div class="content">
    <h1>
    {% trans 'Quiz' %}
    </h1>
    <div class="module">
        <h2>{% trans 'Quiz info' %}</h2>
            <form action="" method="post" enctype="multipart/form-data">
                {{ form|bootstrap }}
                {% csrf_token %}
                <p><input type="submit" value="{% trans 'Save quiz' %}"></p>
            </form>
    </div>
</div>
{% endblock %}