{% extends "base.html" %}

{% load bootstrap %}

{% load i18n %}

{% block title %}
    {% if object %}
        {% trans 'Modifying course' %} "{{ object.title }}"
    {% else %}
        {% trans 'Creating new course' %}
    {% endif %}
{% endblock %}

{% block content %}
<div class="content">
    <h1>
        {% if object %}
            {% trans 'Modifying course' %} "{{ object.title }}"
        {% else %}
            {% trans 'Creating new course' %}
        {% endif %}
    </h1>
    <div>
        <h2>{% trans 'Information about course' %}</h2>
        <div class="small-card">
            <div class="small-card-body">
                <form action="." method="POST">
                    {{ form|bootstrap }}
                    {% csrf_token %}
                    <input type="submit" class="btn btn-success" value="{% trans 'Save' %}">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}