{% extends "base.html" %}

{% load bootstrap %}

{% block content %}

    <h1>
        {% if object %}
            Изменение курса "{{ object.title }}"
        {% else %}
            Создание нового курса
        {% endif %}
    </h1>
    <div>
        <h2>Информация о курсе</h2>
        <form action="." method="POST">
            {{ form|bootstrap }}
            {% csrf_token %}
            <p>
                <input type="submit" value="Сохранить курс">
            </p>
        </form>
    </div>
{% endblock %}