{% extends "base.html" %}

{% block content %}
<div class="content">
    <h1>Мои курсы</h1>

    <div class="row">
        <!-- -->
        {% for course in object_list %}
        <div class="col-md-6">

            <div class="small-card">
              <div class="small-card-body">
                <h4 class="">{{ course.title }}</h4>

                    <a href="{% url 'edit_course' course.id %}" class="btn btn-warning">
                        <i class="fa fa-pencil" aria-hidden="true"></i> Изменить
                    </a>
                    <a href="{% url 'update_course_module' course.id %}" class="btn btn-info">
                        <i class="fa fa-list" aria-hidden="true"></i> Модули
                    </a>
                    {% if course.modules.count > 0 %}
                        <a href="{% url 'module_lecture_list' course.modules.first.id %}" class="btn btn-success">
                            <i class="fa fa-file" aria-hidden="true"></i> Лекции
                        </a>
                    {% endif %}
                                        <a href="{% url 'delete_course' course.id %}" class="btn btn-danger">
                        <i class="fa fa-trash" aria-hidden="true"></i> Удалить курс
                    </a>

              </div>
            </div>

        </div>
        {% empty %}
            <p>Вы еще несоздали ниодного курса.</p>
        {% endfor %}

    </div>

<div class="fixed-action-btn">
    <a href="{% url 'create_course' %}" class="btn-floating btn-floating-add success-color" title="Add new course">
        <i class="fa fa-plus" aria-hidden="true"></i>
    </a>
</div>

</div>
{% endblock %}