{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
    {% if subject %}
        {{ subject.title }} courses
    {% else %}
        All courses
    {% endif %}
{% endblock %}

{% block content %}

<div class="content content-block">

    <div class="row">

        <div class="col-sm-3 category-list">
            <div class="row">
                <div class="col-xs-12">
                    <h4>Категорія</h4>
                    <p><a href="{% url 'course_list' %}">All</a></p>
                    {% for subj in subjects %}
                    <p>
                    <a href="{% url 'subject_course_list' subj.slug %}">
                    <!-- total_courses это аннотация queryset во вьюхе CourseListView -->
                    {{ subj.title }}: <span>{{ subj.total_courses }} courses</span>
                    </a>
                    </p>
            {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-sm-9 course-list">
            <div class="intro">
                <p class="subj-title">
                    {% if subject %}
                        {{ subject.title }} курси
                    {% else %}
                        Всі курси
                    {% endif %}
                </p>
            </div>
        <div class="course-summary-cards">
        {% for course in courses %}

            <div class="course-summary-card row">
                <div class="col-sm-3 course-pic">
                    <a href="{% url 'course_detail' course.slug %}">
                        <img src="{% static 'img/no-image.png' %}" alt="" class="center-block">
                    </a>
                </div>
                <div class="col-xs-12 col-sm-9 course-descr">
                    <h3><a href="{% url 'course_detail' course.slug %}">{{ course.title }}</a> <span class="label label-default"> {{ course.subject }}</h3>
                    <p>{{ course.description }}</p>
                    <p class="course-summary-comments">10 <i class="fa fa-comments" aria-hidden="true"></i></p>
                </div>
            </div>
                        

        {% endfor %}
        </div>
        </div>
    </div>

</div>
{% endblock %}