{% extends "base.html" %}

{% load bootstrap %}

{% block content %}

<div class="content">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 user-form">
            <div class="">
                <h1 class="text-center">Sign in</h1>
                <form action="." class="login-form" method="POST">
                    <!--{{ form.username }}
                    {{ form.password }} -->
                    {{ form|bootstrap }}
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}" />
                    <input type="submit" class="btn btn-primary btn-hg btn-block" value="Login" />
                </form>

                <hr class="login-hr">

                <div class="social-auth">
                    <a class="btn btn-hg fb-bg"
                       href="{% url 'social:begin' 'facebook' %}">
                            <i class="fa fa-facebook" aria-hidden="true"></i> FB
                    </a>
                    <a class="btn btn-hg g-bg"
                       href="{% url 'social:begin' 'google-oauth2' %}">
                            <i class="fa fa-google" aria-hidden="true"></i> Google
                    </a>
                    <a class="btn btn-hg vk-bg"
                       href="{% url 'social:begin' 'vk-oauth2' %}">
                            <i class="fa fa-vk" aria-hidden="true"></i> VK
                    </a>
                </div>

                <br>

                <p class="text-center">
                    Все ще не зареєстровані?
                    <a href="{% url 'student_registration' %}">
                        Зареєструйтесь зараз
                    </a>
                </p>
            </div> <!-- div.content -->
        </div> <!-- div.col-md-4 -->
    </div> <!-- div.row -->
</div> <!-- div.content -->

<footer class="landing-footer">
  <div class="container">&copy; 2017 AwesomenessEdu <div class="footer-social">Twitter</div></div>
</footer>
{% endblock %}