{% extends "base.html" %}

{% load bootstrap %}

{% load i18n %}

{% block title %}
    {% trans 'Teach registration' %}
{% endblock %}

{% block content %}

<div class="content">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 user-form">
            <div class="">
                <h1 class="text-center">{% trans 'Teach registration' %}</h1>
                <form action="." class="register-form" method="POST">
                    <!--{{ form.username }}
                    {{ form.username.errors }}

                    {{ form.email }}
                    {{ form.email.errors }}

                    {{ form.password1 }}
                    {{ form.password1.errors }}

                    {{ form.password2 }}
                    {{ form.password2.errors }} -->

                    {{ form|bootstrap }}

                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}" />
                    <input type="submit" class="btn btn-primary btn-hg btn-block" value="Стати викладачем" />
                </form>
                <p class="text-center">
                    {% trans 'Have account?' %}
                    <a href="{% url 'login' %}">
                        {% trans 'Log in now' %}
                    </a>
                </p>
            </div>
        </div>
    </div> <!-- div.row -->
</div> <!-- div.content -->

{% endblock %}