{% load staticfiles %}

{% load user_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Educa{% endblock %}</title>
    <title>Document</title>
    <!-- <link rel="stylesheet" href="{% static 'css/base.css' %}"> -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/simple-sidebar.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'css/course_react.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'css/landing.css' %}"> -->
    {% block css_load_file %}
    {% endblock %}

    {% block extra_css %}
    {% endblock %}
</head>
<body>
<header class="navbar navbar-default"><!--navbar-fixed-top-->
    <div class="container">

        <div class="navbar-header">
            <a href="/" class="navbar-brand">phonxis</a>
            <button class='navbar-toggle collapsed' data-target='#navbar-main' data-toggle='collapse' aria-expanded='false' type="button">
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
        </div>

        <div class="navbar-collapse collapse" id="navbar-main" aria-expanded="false">
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                    {% if request.user|check_instructor_group %}
                        <li><a href="{% url 'create_course' %}">Create new course</a></li>
                        <li><a href="{% url 'manage_course_list' %}">My courses</a></li>
                    {% else %}
                        <li><a href="{% url 'course_list' %}">All Courses</a></li>
                        <li><a href="{% url 'student_course_list' %}">My courses</a></li>
                    {% endif %}
                    

                    <li><a href="{% url 'update_profile' %}">Profile</a></li>

                    <li>
                        <a href="{% url 'logout' %}">Sign out</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'login' %}">Sign in</a>
                    </li>
                    <li>
                        <a href="{% url 'student_registration' %}">Sign Up</a>
                    </li>

                    <li><a href="{% url 'instructor_registration' %}">Teach</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</header>

{% block sidebar_btn %}

{% endblock %}


<main class="container">

    {% include "messages.html" %}

    {% block content %}
    {% endblock %}
</main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            {% block domready %}
            {% endblock %}
        });
    </script>
    {% block js_load_file %}
    
    {% endblock %}

    {% block js_sidebar %}
    {% endblock %}

    {% block extra_js %}
    {% endblock %}
</body>
</html>