{% extends "base.html" %}

{% load user_tags %}

{% load i18n %}

{% block content %}
<div class="content">
    <div class="row">
    {% with course=module.course %}
        <h1>Course "{{ course.title }}"</h1>
        <div class="col-md-3 col-xs-12">
            <div class="row flex-one-row">
                <div class="col-md-6 col-xs-6"><h3>{% trans 'Modules' %}</h3></div>
                <div class="col-md-6 col-xs-6">
                    <a href="{% url 'update_course_module' course.id %}" class="btn btn-success">
                        <i class="fa fa-pencil" aria-hidden="true"></i> {% trans 'Edit' %}
                    </a>
                </div>
            </div>
            
            <ul id="modules" class="small-card list-group">
                {% for m in course.modules.all %}
                    <li data-id="{{ m.id }}" {% if m == module %} class="list-group-item selected"{% endif %} class="list-group-item">
                        <a href="{% url 'module_lecture_list' m.id %}">
                            <span>
                                {% trans 'Module' %} <span class="order">{{ m.order|add:1 }}</span>
                            </span>
                            <br>
                            {{ m.title }}
                        </a>
                    </li>
                {% empty %}
                    <li>{% trans 'No modules yet.' %}</li>
                {% endfor %}
            </ul>
            
            {% comment %}
            {% if course.modules.count > 0 %}
                <a href="{% url 'module_lecture_list' course.modules.first.id %}">{% trans 'Manage contents' %}</a>
            {% endif %}
            {% endcomment %}
        </div>

        <div class="col-md-9 col-xs-12">

                <div class="row flex-one-row">
                    <div class="col-md-6 col-xs-6">
                        <h3>{% trans 'Lectures of module' %} {{ module.order|add:1 }}: {{ module.title }}</h3>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <a href="{% url 'create_lecture' module.id %}" class="btn btn-success">
                            <i class="fa fa-plus" aria-hidden="true"></i> {% trans 'New Lecture' %}
                        </a>
                    </div>

            </div>
            

            <ul id="lectures" class="list-group small-card">
            {% for lecture in module.lectures.all %}
                <li data-id="{{ lecture.id }}" class="list-group-item flex-one-row">
                    <div>{{ lecture.title }}</div>
                    <a href="{% url 'update_lecture' module.id lecture.id %}">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        {% trans 'Update' %}
                    </a>
                </li>
            {% empty %}
                <li class="list-group-item flex-center">
                    <h2>{% trans 'No created lectures' %}</h2>
                </li>
            {% endfor %}
            </ul>


        </div>
    {% endwith %}
    </div>
</div>
{% endblock %}

{% block domready %}
//делаем список #modules сортируемым
    $('#modules').sortable({
        // этот ивент вызывается когда прекращена сортировка
        stop: function(event, ui) {
            // объект со списком индексов элементов
            modules_order = {};
            $('#modules').children().each(function() {
                // пересчитываем номера элементов списка
                $(this).find('.order').text($(this).index()+1);
                // добавляем в объект-словарь
                modules_order[$(this).data('id')] = $(this).index();
            });
            $.ajax({
                type: "POST",
                url: "{% url 'order_modules' %}",
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: JSON.stringify(modules_order)
            });
        }
    });
    //делаем div'и #module-contents сортируемым
    $('#lectures').sortable({
        // этот ивент вызывается когда прекращена сортировка
        stop: function(event, ui) {
            // объект со списком индексов элементов
            lectures_order = {};
            $('#lectures').children().each(function(index) {
                // добавляем в объект-словарь
                lectures_order[$(this).data('id')] = $(this).index();
            });
            $.ajax({
                type: "POST",
                url: "{% url 'order_lecture' %}",
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: JSON.stringify(lectures_order)
            }).error(function(e) {
                console.log(e);
            });
        }
    });
{% endblock %}