{% extends "base.html" %}

{% load staticfiles %}

{% load bootstrap %}

{% load user_tags %}

{% block content %}
<div class="content">
    <div class="row">
        <h1>
        {% if object %}
            Edit Lecture {{ object.order|add:1 }}: {{ object.title }}
        {% else %}
            <div class="text-center">Create a new lecture</div>
        {% endif %}
        </h1>


        {% if lecture %}

            {% comment %}
                <div class="col-md-3 col-xs-12">
                    <h3>Lecture title</h3>
                    <div class="small-card">
                        <form action="" method="post" enctype="multipart/form-data">
                            <a href="#collapseForm" class="btn btn-info" data-toggle="collapse" aria-expanded="false" aria-controls="collapseForm">
                                Change lecture title
                            </a>
                            <div class="collapse in" id="collapseForm">
                                {{ form|bootstrap }}
                            </div>
                            {% csrf_token %}
                            <p><input type="submit" value="Save lecture"></p>
                        </form>
                    </div>
                </div>
            {% endcomment %}

            <div class="col-md-3 col-xs-12">
                <h3>Lecture info</h3>
                    <div class="small-card">
                        <div class="small-card-body">
                            <form action="" method="post" enctype="multipart/form-data">
                                {{ form|bootstrap }}
                                {% csrf_token %}
                                <div class="flex-center">
                                    <input type="submit" value="Save lecture" class="btn btn-success no-margin">
                                </div>
                            </form>
                        </div>
                    </div>
            </div>
        {% else %}
            <div class="col-md-6 col-md-offset-3">
                <div class="small-card">
                    <div class="small-card-body">
                        <form action="" method="post" enctype="multipart/form-data">
                            {{ form|bootstrap }}
                            {% csrf_token %}
                            <p class="flex-center">
                                <input type="submit" value="Save lecture" class="btn btn-success no-margin">
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}

    {% if lecture %}
    <div class="col-md-9 col-xs-12">
        <h3>Lecture contents</h3>
        <div class="list-group small-card">
            {% for content in object.contents.all %}
                <div data-id="{{ content.id }}" class="list-group-item flex-one-row-center">
                    <!-- <div class="small-card-body"> -->
                        {% with item=content.content_object %}

                            <div>{{ item }} ({{ item|name_of_model }})</div>

                            {% if item|name_of_model == 'text' or item|name_of_model == 'video' or item|name_of_model == 'question' %}
                                <a href="{% url 'update_lecture_content' module lecture item|name_of_model item.id %}" class="btn btn-warning">
                                    <i class="fa fa-pencil" aria-hidden="true"></i> Edit
                                </a>
                            {% endif %}

                            <form action="{% url 'delete_lecture_content' content.id %}" method="post">
                                <input type="submit" class="btn btn-danger no-margin" value="Delete">
                                {% csrf_token %}
                            </form>
                        {% endwith %}
                    <!-- </div> -->
                </div>
            {% empty %}
                <div class="list-group-item flex-center">
                    <h2>This lecture has no contents yet</h2>
                </div>
            {% endfor %}
        </div>

        <h3>Add new content</h3>
        <div class="small-card">
            <div class="small-card-body flex-one-row-around">
                <a href="{% url 'create_lecture_content' module lecture 'text'%}" class="btn btn-info">
                    <i class="fa fa-file-text-o" aria-hidden="true"></i> Text
                </a>
                <a href="{% url 'create_lecture_content' module lecture 'image' %}" class="btn btn-info">
                    <i class="fa fa-picture-o" aria-hidden="true"></i> Image
                </a>
                <a href="{% url 'create_lecture_content' module lecture 'video' %}" class="btn btn-info">
                    <i class="fa fa-video-camera" aria-hidden="true"></i> Video
                </a>
                <a href="{% url 'create_lecture_content' module lecture 'file' %}" class="btn btn-info">
                    <i class="fa fa-file" aria-hidden="true"></i> File
                </a>
                <a href="{% url 'create_lecture_content' module lecture 'question' %}" class="btn btn-info">
                    <i class="fa fa-question" aria-hidden="true"></i> Question
                </a>
            </div>
        </div>

        </div>
        {% endif %}


    </div>
</div>


{% endblock %}

{% block domready %}
    $('.collapse').collapse();

    //делаем div'и #lecture-contents сортируемым
    $('#lecture-contents').sortable({
        // этот ивент вызывается когда прекращена сортировка
        stop: function(event, ui) {
            // объект со списком индексов элементов
            contents_order = {};
            $('#lecture-contents').children().each(function(index) {
                // добавляем в объект-словарь
                contents_order[$(this).data('id')] = $(this).index();
            });
            $.ajax({
                type: "POST",
                url: "{% url 'order_content' %}",
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: JSON.stringify(contents_order)
            }).error(function(e) {
                console.log(e);
            });
        }
    });

{% endblock %}