{% extends "base.html" %}

{% load staticfiles %}

{% load bootstrap %}

{% block css_load_file %}
    <link rel="stylesheet" href="{% static 'css/jquery.fileupload.css' %}">
    <link rel="stylesheet" href="{% static 'css/trumbowyg.min.css' %}">
{% endblock %}

{% block content %}
<div class="content">
    <h1>
    {% if object %}
        Edit content "{{ object.title }}"
    {% else %}
        Add a new content
    {% endif %}
    </h1>
    <div class="module">
        <h2>Course info</h2>
        {% if form %}
            <form action="" method="post" enctype="multipart/form-data">
                {{ form|bootstrap }}
                {% if answer_form %}
                    {{ answer_form }}
                {% endif %}
                {% csrf_token %}
                <p><input type="submit" value="Save content"></p>
            </form>
        {% else %}
        <span class="btn btn-success fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Add files...</span>
            <!-- The file input field used as target for the file upload widget -->
            <input id="fileupload" type="file" name="data_field" multiple data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
        </span>
        <br>
        <br>

        <!-- The global progress bar 
        <div id="progress" class="progress">
            <div class="progress-bar progress-bar-success"></div>
        </div> -->

        <!-- The container for the uploaded files -->
        <div id="files" class="files"></div>

            <!-- <button type="button" class="btn btn-primary js-upload-photos">
                <span class="glyphicon glyphicon-cloud-upload"></span> Upload files
            </button>

            <input id="fileupload" type="file" name="data_field" multiple
                   style="display: none;"
                   data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'> -->

            <a href="{% url 'update_lecture' module lecture %}">go back</a>
        {% endif %}
    </div>
</div>


{% endblock %}



{% block js_load_file %}
    <script src="{% static 'js/jquery.ui.widget.js' %}"></script>
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="//blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>
    <script src="{% static 'js/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'js/jquery.fileupload.js' %}"></script>
    <script src="{% static 'js/jquery.fileupload-process.js' %}"></script>
    <script src="{% static 'js/jquery.fileupload-image.js' %}"></script>
    <script src="{% static 'js/jquery.fileupload-validate.js' %}"></script>
    <script src="{% static 'js/basic-upload.js' %}"></script>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/trumbowyg.min.js' %}"></script>
<script src="{% static 'js/trumbowyg.preformatted.min.js' %}"></script>
{% endblock %}

{% block domready %}
$('#id_data_field').trumbowyg({
    btnsAdd: ['preformatted'],
    btns: [
        ['viewHTML'],
        ['undo', 'redo'],
        ['formatting'],
        ['preformatted'],
        'btnGrp-semantic',
        'underline',
        ['superscript', 'subscript'],
        ['link'],
        'btnGrp-justify',
        'btnGrp-lists',
        ['horizontalRule'],
        ['removeformat'],
    ],
    autogrow: true
});
{% endblock %}