{% extends "base.html" %}

{% load staticfiles %}

{% load i18n %}

{% block title %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/semantic-sidebar.css' %}">
{% endblock %}

{% block content %}

<div class="second-nav-course">
    <div class="menu-btn">
        <a href="#" id="left-sidebar-toggle">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
        <a href="#" id></a>
    </div>
</div>

<div class="ui left vertical inverted sidebar menu">
<ul class="sidebar-nav nav">
<li>
    <h4 class="text-center">{% trans "Progress" %}</h4>
</li>

<!-- прогресс бар -->
<li class="padding15">
    <div class="progress">
        <div class="progress-bar" style="width: {{ lectures_completed }}%;"></div>
    </div>
</li>
<li>
    <p class="text-center">{{ lectures_completed|floatformat:"0" }} %</p>
</li>
<!-- прогресс бар -->

<!-- отображаем меню курса и содержание курса -->
    <li class="text-center"><a href="{% url 'student_course_detail' object.id %}">{% trans "Curriculum" %}</a></li>
    <li class="text-center"><a href="{% url 'student_course_about' object.id %}">{% trans "About course" %}</a></li>
</ul>
</div>

<div class="content content-block">
    <div class="row">
        <div class="col-sm-4 col-md-3 no-mobile-display">
            <div class="">

                <p>
                    <h4 class="text-center">{% trans "Progress" %}</h4>
                </p>

                <!-- прогресс бар -->
                <p>
                    <div class="progress">
                        <div class="progress-bar" style="width: {{ lectures_completed }}%;"></div>
                    </div>
                </p>
                <p class="text-center">{{ lectures_completed|floatformat:"0"|default:"0" }} %</p>
                <!-- прогресс бар -->

                <!-- отображаем меню курса и содержание курса -->
                    <p><a href="{% url 'student_course_detail' object.id %}">{% trans "Curriculum" %}</a></p>
                    <p><a href="{% url 'student_course_about' object.id %}">{% trans "About course" %}</a></p>
            </div>
        </div>
        <div class="col-sm-8 col-md-9 curriculum">
            <div class="intro">
                <p class="subj-title">{% trans "About course" %}</p>
            </div>
            <div class="ui">
              <p>{% trans "Course description" %}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/semantic-sidebar.js' %}"></script>
<script type="text/javascript">
$('.ui.left.sidebar').sidebar({
 dimPage: false,
 transition: 'push',
 exclusive: false,
 closable: true,
 scrollLock: true
 });

 $('.ui.left.sidebar')
 .sidebar('attach events', '#left-sidebar-toggle');

$('#load-comments').click(function() {
  $(this).hide();
  var d = document, s = d.createElement('script');
  s.src = '//knuba.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
})
</script>
{% endblock %}