{% extends "base.html" %}

{% block title %}Мої курси{% endblock %}

{% block content %}
<main>
	<div class="section-nude-gray">
		<h3>
		{% if object_list %}
			Мої курси
		{% else %}
		{% endif %}
		</h3>
	</div>

	<div class="container">
		<div class="row">
			{% for course in object_list %}
				<div class="col-lg-3 col-md-4 col-sm-6">
					

					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">{{ course.title }} <span class="label label-default">{{ course.subject }}</span></h3>
						</div>
						<div class="panel-body">
							Приступайте до вивчення матеріалу цього курсу прямо зараз!<br />
							<a class="btn btn-default btn-round btn-fill btn-primary" href="{% url 'student_course_detail' course.id %}">Переглянути курс</a>
						</div>
					</div>
				</div>


			{% empty %}
				<div class="jumbotron">
					<h1>Not courses</h1>
					<p>You are not enrolled in any courses yet. Browse courses to enroll in a course.</p>
					<p><a class="btn btn-primary btn-lg" href="{% url 'course_list' %}">Browse courses</a></p>
				</div>
			{% endfor %}
		</div>
	</div>
</main>

{% endblock %}

